/**
 * Styles for Link to Archive extension
 */

.ext-link-to-archive {
	margin-left: 0.3em;
	margin-right: 0.3em;
	font-size: inherit;
	vertical-align: middle;
	white-space: nowrap;
}

.ext-link-to-archive.has-sibling {
	margin-right: 0.3em;
}

.ext-link-to-archive a {
	display: inline-block;
	padding: 0 3px;
	vertical-align: baseline;
}

.ext-link-to-archive a span {
	display: inline-block;
	vertical-align: middle;
	width: 1em;
	height: 1em;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.ext-link-to-archive img,
.ext-link-to-archive span {
	vertical-align: middle;
	border: 0;
}

.mw-linktoarchive-tor-onion {
	background-image: url( ../images/tor-onion-logo.svg );
}

.mw-linktoarchive-internet-archive {
	background-image: url( ../images/internet-archive-logo.svg );
}

.mw-linktoarchive-archive-today {
	background-image: url( ../images/archive-today-logo.svg );
}
