/**
 * Styles for Link to Archive extension
 */

.ext-link-to-archive {
	margin-left: 0.3em;
	margin-right: 0.3em;
	font-size: 0.85em;
	vertical-align: super;
	white-space: nowrap;
}

.ext-link-to-archive.has-sibling {
	margin-right: 0.3em;
}

.ext-link-to-archive a {
	display: inline-block;
	padding: 0 2px;
	vertical-align: baseline;
	text-decoration: none;
}
